.form-login {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  padding: 15px;

  .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
}


.input-username {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
